@font-face {
  font-family: "iconfont"; /* Project id 4254620 */
  src: url('iconfont.woff2?t=1698048939067') format('woff2'),
       url('iconfont.woff?t=1698048939067') format('woff'),
       url('iconfont.ttf?t=1698048939067') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gaojing:before {
  content: "\ec35";
}

.icon-fenpei:before {
  content: "\e73d";
}

.icon-daochu:before {
  content: "\e627";
}

.icon-jian:before {
  content: "\e60e";
}

.icon-jia:before {
  content: "\e67b";
}

.icon-moren1:before {
  content: "\e615";
}

.icon-xiangqing:before {
  content: "\e68a";
}

.icon-moren:before {
  content: "\e62d";
}

.icon-liangdeng:before {
  content: "\e60d";
}

.icon-guandeng:before {
  content: "\e796";
}

.icon-guidang:before {
  content: "\e629";
}

.icon-shujujianmo:before {
  content: "\e6ed";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-xitongguanli:before {
  content: "\e62f";
}

.icon-zongshu:before {
  content: "\e790";
}

.icon-cangkuguanli:before {
  content: "\e64b";
}

.icon-chaxun:before {
  content: "\e660";
}

.icon-tiaobodan:before {
  content: "\e670";
}

.icon-kuwei:before {
  content: "\e614";
}

.icon-navicon-rkd:before {
  content: "\e656";
}

.icon-navicon-ckd:before {
  content: "\e65a";
}

.icon-navicon-dbd:before {
  content: "\e675";
}

.icon-zongjia:before {
  content: "\e74a";
}

